*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid black;
    text-align: center;
}
.admin-content{
    padding-top: 50px;
    display: flex;
   
}
.admin-content-left{
    background-color: rgb(209, 235, 235);
    width: 18%;
    padding: 30px 0 0 12px;
}
.admin-content-left>ul>li>a{
    font-weight: bold;
}
.admin-content-left ul li{
    margin: 6px 0;
}
.admin-content-left ul ul{
    padding-left: 20px;
}

.admin-content-right{
    width: 82%;
    padding: 30px 0 0 12px;
}

.admin-content-right-cartegory_add input{
    width: 200px;
    height: 30px;
    padding-left: 12px;
    margin-top: 20px;
    border-radius: 3px;
}
.admin-content-right-cartegory_add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
    transition: all 0.35s ease;
    
}
.admin-content-right-cartegory_add button:hover{
    background-color: transparent;
    border: 1px solid red;
    color: red;

}
/* *****************cartegorylist******** */
.admin-content-right-cartegory_list table tr th,td {
    border: 1px solid black;
    margin-top: 40px;
}
table{
    border-collapse: collapse;
}

    .admin-content-right-product_add input,select{
        width: 200px;
        height: 30px;
        display: block;
        margin: 10px 0;
        padding-left: 12px;
     
    }
    .admin-content-right-product_add textarea{
        display: block;
        height: 200px;
        width: 500px;
        margin-bottom: 12px;
        padding-left: 12px;
        padding-top: 5px;
    
    }
    .admin-content-right-product_add button{
        margin-top: 10px;
        height: 30px;
        width: 100px;
        cursor: pointer;
        background-color: brown;
        border: none;
        color: white;
        transition: all 0.3s ease;
        border-radius: 3px;
    }
    .admin-content-right-product_add button:hover{
        background-color: transparent;
        border: 1px solid red;
        color: red;
}